*{
margin: 0;
padding: 0;

}

body{
    background-color: lightgray;
}

.calendar-container{
    margin: auto;
    background-color:white;
    width:80%;
}
#head{
    display: flex;
    background-color: white;
    justify-content: flex-end;
    align-items: center;
    min-height: 60px;
    border-bottom: 1px solid gray;
}
#head h5{
    padding: 0px 20px;
}

#outer{

    display: flex;
    flex-direction: column;
    background-color:lightgray;
    min-height: 40px;
    justify-content: flex-end;
    align-items: flex-end;

    
}
.inner p{
    padding: 0px 20px;
   
}
.inner{
    display: flex;
    background-color: white;
    align-items: center;
    min-height: 40px;
    width: 75.9%;
    border-left: 10px solid rgb(0, 191, 0);
 
  
}
.Am_container{
    background-color: rgb(252, 237, 239);
    height: 193;
    z-index: 0;
    
}
.am{
    display: flex;
    border-top: 1px solid rgb(248, 100, 125);   
}
.am h1{
    padding: 20px 20px;
    color: rgb(248, 100, 125);
}
.pm{
    display: flex;
    border-top: 1px solid rgb(101, 196, 228);
}
.pm h1{
    padding: 20px 20px;
    color: rgb(101, 196, 228);
}
.timecontainer{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    

}
.timeslothalf{
    min-height: 30px;
    border-top: 1px solid gray;
    width: 90%; 
}
.timeslotfull{
    display: flex;
    justify-content: flex-start;
    height: 30px;
    border-top: 1px solid gray;
    width: 95%;
}
.slot{
    display: flex;
    justify-content: flex-start;
    height: 30px;
    width: 95%;
}

.Pm_container{
    background-color: rgb(226, 236, 240);
    height: 70%;
}

.event{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-left: 10px solid rgb(0, 191, 0);
    margin-left: 5rem;
    justify-content: center; 
    align-items: center; 
    width: auto;
    z-index: 1;  
}

